<div class="container d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/cd-Taylor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">CD Taylor Swift: Fearless (Taylor's Version)</h5>
          <p class="card-text">Compre agora o cd de Fearless (Taylor's Version) e confira as musicas exclusivas (From The Vault)</p>
          <a href="#" class="btn btn-warning container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/vinil-Taylor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vinil Taylor Swift: Fearless (Taylor's Version)</h5>
          <p class="card-text">Compre agora o vinil de Fearless (Taylor's Version) e confira as musicas exclusivas (From The Vault)</p>
          <a href="#" class="btn btn-warning container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/poster-Taylor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Poster Taylor Swift: Fearless (Taylor's Version)</h5>
          <p class="card-text">Compre agora o Poster de Fearless (Taylor's Version) e decore seu espaço com essa foto exclusiva</p>
          <a href="#" class="btn btn-warning container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/Camiseta.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Camiseta Taylor Swift: Fearless (Taylor's Version)</h5>
          <p class="card-text">Compre agora a camiseta exclusiva de Fearless (Taylor's Version) disponivel nos tamanhos P, M e G</p>
          <a href="#" class="btn btn-warning container-fluid">Comprar</a>
        </div>
      </div>
</div>

